@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2a2a72;
  color: #fff;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.light {
  background-image: url("./light.png");
}

.dark {
  background-image: url("./dark.jpg");
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  position: absolute;
  font-size: 16px;
  cursor: pointer;
  background-color: #bbdefb;
  min-width: 7vw;
  top: 90%;
  left: 47%;
  color: #231942;
  padding: 4px 14px;
  border: 1.5px solid #22333b;
  border-radius: 25px;
}

.form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.input {
  margin-top: 4rem;
  min-width: 50%;
  background-color: #d1eaff;
  padding: 1em;
  border-radius: 7px;
  color: #231942;
  border: 1px solid #22333b;
  font-size: large;
}

.input::placeholder {
  font-size: larger;
  color: #231942;
}

.input:focus {
  outline: none;
}

.card {
  background-image: linear-gradient(135deg, #132a13, #31572c, #4f772d, #90a955);
  display: flex;
  padding: 0.5rem;
  color: black;
  margin: 1rem 1.5rem;
  border-radius: 5px;
}

.card .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info > h1 {
  display: flex;
  justify-content: flex-start;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  margin: 15px 20px;
  position: relative;
}

.error {
  background-image: linear-gradient(
    to bottom,
    #132a13,
    #31572c,
    #4f772d,
    #90a955,
    #ecf39e
  );
  padding: 1.5rem 7rem;
  color: rgb(255, 255, 255);
  margin: 1rem 1rem;
  font-size: x-large;
  border-radius: 5px;
  min-height: 5vh;
  min-width: 30vw;
  display: none;
}

ul li {
  list-style-type: none;
}

.repo {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 35px;
}
